<section class="spotify-block-block">
  <div class="artists-wrapper">
  {% if second_batch %}
   <ul class="float-left">
  {% else %}
   <ul>
  {% endif %}
  {% for artist in first_batch %}
    <li><a href="{{ path('spotify.page', {'artist_id': artist.id}) }}">{{ artist.name|e }}</a></li>
  {% endfor %}
  </ul>
  {% if second_batch %}
    <ul class="float-right">
      {% for artist in second_batch %}
        <li><a href="{{ path('spotify.page', {'artist_id': artist.id}) }}">{{ artist.name|e }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  </div>
</section>
